.cadastro {
    text-align:right;
    padding-top: 0;
    
}

.cadastro ul li a {
    color: #fff;
    font-weight: bold;    
    letter-spacing: .1em;
    font-size:16px;
    padding:10px 0;
}

.cadastro ul li a:hover {
    color:#000;
    transition: all 0.3s ease;
}